body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #462610;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.content {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 5px solid #b89f87;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
  color: #5e2d06;
}

ul {
  padding-left: 20px;
}

.game-section {
  background-color: #ede0d4;
  padding: 20px;
  text-align: center;
  border: 2px dashed #5e2d06;
  border-radius: 5px;
  margin-top: 30px;
}

.game-button {
  display: inline-block;
  margin-top: 15px;
  background-color: #5e2d06;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.game-button:hover {
  background-color: rgb(153, 92, 7);
}

footer {
  background-color: #5e2d06;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}
    article {
      background-color: white;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    .article-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.article-link:hover article {
  background-color: #f9f9f9;
  cursor: pointer;
}